.main-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 4rem;
}

.main-page__top {
  align-self: flex-start;
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 3rem 0 0;
}

.main-page__search-bar {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  padding: 0.7rem 1.5rem;
  
  border: 2px solid var(--clr-primary, #2D4F3E);
  border-radius: 1rem;
  box-sizing: border-box;
}

.main-page__search-bar input {
  width: 100%;
  border: none;

  font-size: 1.6rem;
}

.main-page__related-queries {
  position: absolute;
  top: 5rem;
  left: 0;

  width: 100%;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.1rem 0.1rem 1rem 1rem;
  background-color: var(--clr-white, #FFFFFF);

  z-index: 999;
}

.main-page__related-queries p {
  font-size: 1.2rem;
  line-height: 1.7;

  cursor: pointer;
}


.main-page__search-bar input:focus {
  outline: none;
}

.main-page__search-bar a {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.5rem;
  aspect-ratio: 1/1;
  background-color: var(--clr-primary, #2D4F3E);
  border-radius: 50%;
}

.main-page__search-bar svg {
  width: 60%;
  height: 60%;
}

.main-page__ai-recommendation {
  width: 100%;
  padding: 1.8rem 1.5rem;
  margin: 2rem 0 0;

  background-color: var(--clr-primary, #2D4F3E);
  border-radius: 1rem;
    box-sizing: border-box;

  color: var(--clr-white, #FFFFFF);
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .main-page__content {
    padding: 0 1rem;
  }

  .main-page__search-bar {
    padding: 0.6rem 1rem;
  }

  .main-page__search-bar input {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .main-page__search-bar a {
    height: 3rem;
  }

  .main-page__ai-recommendation {
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
  }
}